<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookingWebServicePortBinding" />
                <binding name="HotelWebServicePortBinding" />
                <binding name="LocalizationWebServicePortBinding" />
                <binding name="RoomWebServicePortBinding" />
                <binding name="SecurityWebServicePortBinding" />
                <binding name="UserRatingWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4040/ws/servers/BookingService"
                binding="basicHttpBinding" bindingConfiguration="BookingWebServicePortBinding"
                contract="BookingService.BookingWebService" name="BookingWebServicePort" />
            <endpoint address="http://localhost:4040/ws/servers/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelWebServicePortBinding"
                contract="HotelService.HotelWebService" name="HotelWebServicePort" />
            <endpoint address="http://localhost:4040/ws/servers/LocalizationService"
                binding="basicHttpBinding" bindingConfiguration="LocalizationWebServicePortBinding"
                contract="LocalizationService.LocalizationWebService" name="LocalizationWebServicePort" />
            <endpoint address="http://localhost:4040/ws/servers/RoomService"
                binding="basicHttpBinding" bindingConfiguration="RoomWebServicePortBinding"
                contract="RoomService.RoomWebService" name="RoomWebServicePort" />
            <endpoint address="http://localhost:4040/ws/servers/SecurityService"
                binding="basicHttpBinding" bindingConfiguration="SecurityWebServicePortBinding"
                contract="SecurityService.SecurityWebService" name="SecurityWebServicePort" />
            <endpoint address="http://localhost:4040/ws/servers/UserRatingService"
                binding="basicHttpBinding" bindingConfiguration="UserRatingWebServicePortBinding"
                contract="UserRatingService.UserRatingWebService" name="UserRatingWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>